@media (min-width: 320px) {

    .App {
        display: flex;
        position: relative;

    }
    .card__left_side {
        background-image: url(../public/images/bg-main-mobile.png);
        min-width: 70vh;
        height: 35vh;
    }
    .card__card_form {
        position: absolute;;
        flex-direction: row;
        max-width: 420px;
        max-height: 400px;
        padding: 20px;
        margin-top: 410px;
        margin-left: 20px;
        top:20px;
    }
    .card__card_form img {
        margin: 0 125px 0;
    }
    .card__card_form p {
        margin-left: 80px;
        text-transform: uppercase;
        font-size: 28px;
        font-weight: 900;
    }
    .card__card_form span {
        display: block;
        margin: 14px 60px 28px;
        opacity: 0.5;
    }
    .card__card_form label {
        text-transform: uppercase;
        margin: 0 10px;
    }
    .card__card_form input {
        width: 82%;
        padding: 12px 14px;
        margin: 13px 8px;
        font-size: 18px;
        border-radius: 8px;
    }
    .card__form_date_expired {
        flex-direction: row;
        max-height: 40px;
    }
    .card__form_date_expired label {
        position: relative;
        display: block;
        text-transform: uppercase;
        margin: 0 12px;
    }
    .card__form_date_expired label span {
        position: absolute;
        text-transform: uppercase;
        left: 130px;
        top: -12px;
        opacity: 1;
    }
    .card__form_date_expired input {
        max-width: 10%;
    }
    .card__form_date_expired i input {
        max-width: 31%;

    }
    .card__form_date_expired button {
        margin: 20px 10px;
        width: 96%;
        height: 58px;
        border-radius: 8px;
        background-color: #220930;
        color: #fff;
    }
    .card__shirt {
        background: url(../public/images/bg-card-front.png);
        width: 350px;
        height: 194px;
        position: absolute;
        left: 23px;
        top: 200px;
        border-radius: 8px;
        z-index: 1;
    }
    .card__shirt_number {
        margin-top: 116px;
        margin-left: 50px;
        color: #fff;
        font-size: 22px;
        letter-spacing: 2px;
    }
    .card__shirt_holder {
        position: relative;
        margin-top: 18px;
        margin-left: 50px;
        color: #fff;
        font-size: 20px;
        letter-spacing: 2px;
    }
    .card__shirt_holder span {
        position: absolute;
        right: 25px;
        top: 3px;
        font-size: 18px;
    }
    .card__circle_decoration {
        position: absolute;
        left: 40px;
        top: 20px;
        color: #fff;
        min-height: 48px;
        min-width: 48px;
        background-color: #fff;
        border-radius: 40px;
    }
    .card__circle_min_decoration {
        position: absolute;
        left: 100px;
        top: 35px;
        color: #fff;
        min-height: 22px;
        min-width: 22px;
        border: 1px solid #fff;
        border-radius: 19px
    }
    .card__outer {
        background: url(../public/images/bg-card-back.png);
        width: 350px;
        height: 194px;
        position: absolute;
        left: 50px;
        top: 40px;
        border-radius: 8px;
    }
    .card__outer p {
        color: #fff;
        margin-left: 280px;
        margin-top: 119px;
        font-size: 20px;
        letter-spacing: 2px;
    }

}


@media (min-width: 870px) {
    .App {
        display: flex;
        position: relative;
    }
    .card__left_side {
        background-image: url(../public/images/bg-main-desktop.png);
        min-height: 100vh;
        min-width: 40vh;
    }
    .card__card_form {
        flex-direction: row;
        max-width: 400px;
        max-height: 400px;
        padding: 20px;
        margin-top: 270px;
        margin-left: 270px;
        left: 205px;
    }
    .card__card_form img {
        margin: 0 125px 0;
    }
    .card__card_form p {
        margin-left: 80px;
        text-transform: uppercase;
        font-size: 28px;
        font-weight: 900;
    }
    .card__card_form span {
        display: block;
        margin: 14px 60px 28px;
        opacity: 0.5;
    }

    .card__card_form label {
        text-transform: uppercase;
        margin: 0 10px;
    }
    .card__card_form input {
        width: 80%;
        padding: 12px 18px;
        margin: 18px 8px;
        font-size: 18px;
        border-radius: 8px;
    }
    .card__form_date_expired {
        flex-direction: row;
        max-height: 40px;
    }
    .card__form_date_expired label {
        position: relative;
        display: block;
        text-transform: uppercase;
        margin: 0 12px;
    }
    .card__form_date_expired label span {
        position: absolute;
        text-transform: uppercase;
        left: 130px;
        top: -12px;
        opacity: 1;
    }
    .card__form_date_expired input {
        max-width: 9%;
    }
    .card__form_date_expired i input {
        max-width: 34%;

    }
    .card__form_date_expired button {
        margin-top: 20px;
        width: 94%;
        height: 48px;
        border-radius: 8px;
        background-color: #220930;
        color: #fff;
    }
    .card__shirt {
        background: url(../public/images/bg-card-front.png);
        width: 450px;
        height: 254px;
        position: absolute;
        left: 0;
        top: 160px;
        border-radius: 15px;
    }
    .card__shirt_number {
        margin-top: 140px;
        margin-left: 50px;
        color: #fff;
        font-size: 34px;
        letter-spacing: 2px;
    }
    .card__shirt_holder {
        margin-top: 30px;
        margin-left: 50px;
        color: #fff;
        font-size: 20px;
        letter-spacing: 2px;
    }
    .card__shirt_holder span {
        margin-left: 180px;
    }
    .card__circle_decoration {
        position: absolute;
        left: 40px;
        top: 20px;
        color: #fff;
        min-height: 48px;
        min-width: 48px;
        background-color: #fff;
        border-radius: 40px;
    }
    .card__circle_min_decoration {
        position: absolute;
        left: 100px;
        top: 35px;
        color: #fff;
        min-height: 22px;
        min-width: 22px;
        border: 1px solid #fff;
        border-radius: 19px
    }
    .card__outer {
        background: url(../public/images/bg-card-back.png);
        width: 450px;
        height: 254px;
        position: absolute;
        left: 0;
        top: 470px;
        border-radius: 15px;
    }
    .card__outer p {
        color: #fff;
        margin-left: 380px;
        margin-top: 119px;
        font-size: 20px;
        letter-spacing: 2px;
    }

}



@media (min-width: 1011px) {
    .App {
        display: flex;
        position: relative;
    }
    .card__left_side {
        background-image: url(../public/images/bg-main-desktop.png);
        min-height: 100vh;
        min-width: 40vh;
    }
    .card__card_form {
        flex-direction: row;
        max-width: 420px;
        max-height: 400px;
        padding: 20px;
        margin-top: 270px;
        margin-left: 270px;
        left: 285px;
    }
    .card__card_form img {
        margin: 0 125px 0;
    }
    .card__card_form p {
        margin-left: 80px;
        text-transform: uppercase;
        font-size: 28px;
        font-weight: 900;
    }
    .card__card_form span {
        display: block;
        margin: 14px 60px 28px;
        opacity: 0.5;
    }

    .card__card_form label {
        text-transform: uppercase;
        margin: 0 10px;
    }
    .card__card_form input {
        width: 84%;
        padding: 12px 18px;
        margin: 18px 8px;
        font-size: 18px;
        border-radius: 8px;
    }
    .card__form_date_expired {
        flex-direction: row;
        max-height: 40px;
    }
    .card__form_date_expired label {
        position: relative;
        display: block;
        text-transform: uppercase;
        margin: 0 12px;
    }
    .card__form_date_expired label span {
        position: absolute;
        text-transform: uppercase;
        left: 167px;
        top: -12px;
        opacity: 1;
    }
    .card__form_date_expired input {
        max-width: 12%;
    }
    .card__form_date_expired i input {
        max-width: 135px;

    }
    .card__form_date_expired button {
        margin: 20px 10px;
        width: 96%;
        height: 48px;
        border-radius: 8px;
        background-color: #220930;
        color: #fff;
    }
    .card__shirt {
        background: url(../public/images/bg-card-front.png);
        width: 450px;
        height: 254px;
        position: absolute;
        left: 30px;
        top: 160px;
        border-radius: 15px;
    }
    .card__shirt_number {
        margin-top: 140px;
        margin-left: 50px;
        color: #fff;
        font-size: 34px;
        letter-spacing: 2px;
    }
    .card__shirt_holder {
        margin-top: 30px;
        margin-left: 50px;
        color: #fff;
        font-size: 20px;
        letter-spacing: 2px;
    }
    .card__shirt_holder span {
        margin-left: 180px;
    }
    .card__circle_decoration {
        position: absolute;
        left: 40px;
        top: 20px;
        color: #fff;
        min-height: 48px;
        min-width: 48px;
        background-color: #fff;
        border-radius: 40px;
    }
    .card__circle_min_decoration {
        position: absolute;
        left: 100px;
        top: 35px;
        color: #fff;
        min-height: 22px;
        min-width: 22px;
        border: 1px solid #fff;
        border-radius: 19px
    }
    .card__outer {
        background: url(../public/images/bg-card-back.png);
        width: 450px;
        height: 254px;
        position: absolute;
        left: 80px;
        top: 470px;
        border-radius: 15px;
    }
    .card__outer p {
        color: #fff;
        margin-left: 380px;
        margin-top: 119px;
        font-size: 20px;
        letter-spacing: 2px;
    }

}

/*________________________________________________*/

@media (min-width: 1160px) {
    .App {
        display: flex;
        position: relative;
    }
    .card__left_side {
        background-image: url(../public/images/bg-main-desktop.png);
        min-height: 100vh;
        min-width: 40vh;
    }
    .card__card_form {
        flex-direction: row;
        max-width: 420px;
        max-height: 400px;
        padding: 20px;
        margin-top: 270px;
        margin-left: 320px;
        left: 360px;
    }

    .card__card_form img {
        margin: 0 125px 0;
    }
    .card__card_form p {
        margin-left: 80px;
        text-transform: uppercase;
        font-size: 28px;
        font-weight: 900;
    }
    .card__card_form span {
        display: block;
        margin: 14px 60px 28px;
        opacity: 0.5;
    }

    .card__card_form label {
        text-transform: uppercase;
        margin: 0 10px;
    }
    .card__card_form input {
        width: 86%;
        padding: 12px 18px;
        margin: 18px 10px;
        font-size: 18px;
        border-radius: 8px;
    }
    .card__form_date_expired {
        flex-direction: row;
        max-height: 40px;
    }
    .card__form_date_expired label {
        position: relative;
        display: block;
        text-transform: uppercase;
        margin: 0 12px;
    }
    .card__form_date_expired label span {
        position: absolute;
        text-transform: uppercase;
        left: 177px;
        top: -12px;
        opacity: 1;
    }
    .card__form_date_expired input {
        max-width: 52px;
    }
    .card__form_date_expired i input {
        max-width: 135px;

    }
    .card__form_date_expired button {
        margin: 20px 10px;
        width: 96%;
        height: 48px;
        border-radius: 8px;
        background-color: #220930;
        color: #fff;
    }
    .card__shirt {
        background: url(../public/images/bg-card-front.png);
        width: 450px;
        height: 254px;
        position: absolute;
        left: 60px;
        top: 160px;
        border-radius: 15px;
    }
    .card__shirt_number {
        margin-top: 140px;
        margin-left: 50px;
        color: #fff;
        font-size: 34px;
        letter-spacing: 2px;
    }
    .card__shirt_holder {
        margin-top: 30px;
        margin-left: 50px;
        color: #fff;
        font-size: 20px;
        letter-spacing: 2px;
    }
    .card__shirt_holder span {
        margin-left: 180px;
    }
    .card__circle_decoration {
        position: absolute;
        left: 40px;
        top: 20px;
        color: #fff;
        min-height: 48px;
        min-width: 48px;
        background-color: #fff;
        border-radius: 40px;
    }
    .card__circle_min_decoration {
        position: absolute;
        left: 100px;
        top: 35px;
        color: #fff;
        min-height: 22px;
        min-width: 22px;
        border: 1px solid #fff;
        border-radius: 19px
    }
    .card__outer {
        background: url(../public/images/bg-card-back.png);
        width: 450px;
        height: 254px;
        position: absolute;
        left: 130px;
        top: 470px;
        border-radius: 15px;
    }
    .card__outer p {
        color: #fff;
        margin-left: 380px;
        margin-top: 119px;
        font-size: 20px;
        letter-spacing: 2px;
    }
}


@media (min-width: 1398px) {
    .App {
        display: flex;
        position: relative;
    }
    .card__left_side {
        background-image: url(../public/images/bg-main-desktop.png);
        min-height: 100vh;
        min-width: 55vh;
    }
    .card__card_form {
        flex-direction: row;
        max-width: 500px;
        max-height: 500px;
        padding: 20px;
        margin-top: 270px;
        margin-left: 350px;
        left: 500px;
    }
    .card__card_form img {
        margin: 0 125px 0;
    }
    .card__card_form p {
        margin-left: 80px;
        text-transform: uppercase;
        font-size: 28px;
        font-weight: 900;
    }
    .card__card_form span {
        display: block;
        margin: 14px 60px 28px;
        opacity: 0.5;
    }

    .card__card_form label {
        text-transform: uppercase;
        margin: 0 10px;
    }
    .card__card_form input {
        width: 86%;
        padding: 12px 18px;
        margin: 18px 10px;
        font-size: 18px;
        border-radius: 8px;
    }
    .card__form_date_expired {
        flex-direction: row;
        max-height: 40px;
    }
    .card__form_date_expired label {
        position: relative;
        display: block;
        text-transform: uppercase;
        margin: 0 12px;
    }
    .card__form_date_expired label span {
        position: absolute;
        text-transform: uppercase;
        left: 220px;
        top: -12px;
        opacity: 1;
    }
    .card__form_date_expired input {
        max-width: 75px;
    }
    .card__form_date_expired i input {
        max-width: 135px;

    }
    .card__form_date_expired button {
        margin: 20px 10px;
        width: 94%;
        height: 48px;
        border-radius: 8px;
        background-color: #220930;
        color: #fff;
    }
    .card__shirt {
        background: url(../public/images/bg-card-front.png);
        min-width: 500px;
        min-height: 264px;
        position: absolute;
        left: 160px;
        top: 160px;
        border-radius: 15px;
    }
    .card__shirt_number {
        margin-top: 140px;
        margin-left: 50px;
        color: #fff;
        font-size: 34px;
        letter-spacing: 2px;
    }
    .card__shirt_holder {
        margin-top: 30px;
        margin-left: 50px;
        color: #fff;
        font-size: 20px;
        letter-spacing: 2px;
    }
    .card__shirt_holder span {
        margin-left: 180px;
    }
    .card__circle_decoration {
        position: absolute;
        left: 40px;
        top: 20px;
        color: #fff;
        min-height: 48px;
        min-width: 48px;
        background-color: #fff;
        border-radius: 40px;
    }
    .card__circle_min_decoration {
        position: absolute;
        left: 100px;
        top: 35px;
        color: #fff;
        min-height: 22px;
        min-width: 22px;
        border: 1px solid #fff;
        border-radius: 19px
    }
    .card__outer {
        background: url(../public/images/bg-card-back.png);
        min-width: 500px;
        min-height: 264px;
        position: absolute;
        left: 250px;
        top: 480px;
        border-radius: 15px;
    }
    .card__outer p {
        color: #fff;
        margin-left: 380px;
        margin-top: 119px;
        font-size: 20px;
        letter-spacing: 2px;
    }
}







